@import url('https://fonts.cdnfonts.com/css/diploma');
@import url('https://fonts.cdnfonts.com/css/bank-gothic');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color: white;
}

@font-face {
    font-family: "Diploma";
    src: url("../public/font/Diploma.woff");
}

@font-face {
    font-family: "Bank Gothic", sans-serif;
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}